# Better Auth
BETTER_AUTH_SECRET=4/mRlTDx10u/U7XgLCeG/LgC5wUk+0DpH2eUb/VydKc=
BETTER_AUTH_URL=http://localhost:3000

# OAuth - Google (opcional, solo para login social)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# API Backend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Base de datos (requerido para Better Auth en apps/web)
DATABASE_URL=postgresql://contachile:contachile@localhost:5432/contachile
